@import url("https://fonts.cdnfonts.com/css/metal-macabre-2");
@import url("https://fonts.cdnfonts.com/css/chaos-metal");
@import url("https://fonts.cdnfonts.com/css/metal-macabre");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Fuggles&family=Jura:wght@300&family=Kenia&display=swap");
@import url("https://fonts.cdnfonts.com/css/crush-metal");
@import url("https://fonts.cdnfonts.com/css/dezzy");
@import url("https://fonts.cdnfonts.com/css/mockerel");
@import url("https://fonts.cdnfonts.com/css/blood-on-cauldron");
@import url("https://fonts.cdnfonts.com/css/devils-crew");
@import url("https://fonts.cdnfonts.com/css/ghost-reverie");
@import url("https://fonts.cdnfonts.com/css/heikudo-freedom");
@import url("https://fonts.cdnfonts.com/css/halloweenn");/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #a55959;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-right:15vw;
  padding-left:15vw;
   background: linear-gradient(to bottom, #1a0d16, #191939);
}

/* Navigation */
.nav {
  background-color: #1a0d16,;
   
  padding: 10px 0;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav ul li a {
  color: #585a73;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s, font-size 0.5s;
}

.nav ul li a:hover {
  color: #eeccd9;
  font-size: 20px;
}

/******************************************************************************
nav below
******************************************************************************/
.nav {
  grid-area: nav;
  background: #1a0d16;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;

  z-index: 80000;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  color: #afb2c9;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.7s, font-size 0.7s;
  font-family: "Jura", sans-serif;
}

.nav ul li a:hover {
  color: #585a73;
  font-size: 20px;
}
/* Header */
.headerContainer {
  text-align: center;
  color: #585a73;
  margin-block: 40px;
}

.headerContainer h1 {
  font-size: 2rem;
  
   font-family: "Blood On Cauldron", sans-serif;
}

/* Form */
.formContainer {
  background-color: #585a73;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   font-family: "Jura", sans-serif;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-size: 1.2rem;
  color:#afb2c9;
}

input, textarea, select {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #afb2c9;
  font-size: 1rem;
  color:#afb2c9 ;
  transition: background-color 0.3s ease;
}

input:focus, textarea:focus {
  background-color: #afb2c9;
  color:#585a73;
  outline: none;
}

.submitButton {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: 2px solid #585a73;
  border-radius: 50px;
  background-color: #afb2c9;
  color: #585a73
    ;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #585a73;
  color: #afb2c9;
 border: 2px solid #afb2c9;
}

/* Reviews Section */
#reviewsContainer {
  margin-top: 50px;
  color: #585a73;
  text-align: center;
  width:100%;
   font-family: "Jura", sans-serif;
 
}

#reviewsList {
  background-color: #585a73;
  color: #afb2c9;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width:400px;
  
}
.reviewCard img{
  width: 300px;
  height: 300px;
 border: 2px solid #afb2c9;
}